.container{
    color: #000;

    width: 100vw;
    height: 100vh;
    background: url("../../assets/urrun_launch.jpg") center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window{
    border-radius: 8px;
    height: 70%;
    width: 35%;

    background: rgba(255, 255, 255, 0.5);

    box-shadow: 1px 1px 4px 3px #2b272dc4;
}

.content{
    width: 100%;
    height: 100%;

    font-size: 24px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
}

.text{
    font-size: 24px;
    font-weight: 800;
}
.content .inputs__content{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content .inputs__content div:not(:last-child){
    margin-bottom: 10px;
}
.content input{
    background: #fff;
    border: 1px solid #000;
    width: 100%;
}

button{
    font-weight: 800;
}